<div class="contenedor">
  <div class="formulario">
    <form [formGroup]="formMapas" (ngSubmit)="onSubmit()">
      <label for="inputPlaces" class="sb-title">Buscar Farmacia:</label>
      <div class="half-input-container">
        <input type="text" #inputPlaces id="inputPlaces" formControlName="busqueda" placeholder="Ingrese la dirección">
        <button type="submit" class="button-cta">Buscar</button>
      </div>
      <div class="mapa" #divMap></div>
    </form>
  </div>
  <div class="ruta-container">
    <label class="etiqueta">Pulsa para ver la farmacia más cercana</label>
    <ion-icon (click)="mapRuta()" name="compass-outline" class="icono"></ion-icon>
    <h3>Estás a {{distancia}} de la farmacia más cercana</h3>
  </div>
</div>
<div class="banner-container">
  <img src="assets/bannerpillboxapp.jpg" alt="Logo de la aplicación">
</div>