
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="bandage"></ion-icon>
      Medicinas
    </ion-tab-button>
    <ion-tab-button tab="recetas">
      <ion-icon name="documents"></ion-icon>
      Recetas
    </ion-tab-button>
    <ion-tab-button tab="apoyo">
      <ion-icon name="chatbox-ellipses"></ion-icon>
      Apoyo
    </ion-tab-button>
    <ion-tab-button tab="historial">
      <ion-icon name="search"></ion-icon>
      Historial
    </ion-tab-button>
    <ion-tab-button tab="login">
      <ion-icon name="person"></ion-icon>
      Cuenta
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>