<ion-content>
  <div class="card-container">
    <ion-card id="card">
      <ion-row class="ion-align-items-center">
        <ion-col size-md="3" size="6" class="ion-padding ion-blue-bkg">
          <div class="image-container">
            <img
              src="https://images.prismic.io/ionicframeworkcom/ac68e1d9-9887-4e5a-9820-9290d06638de_ionic+logo+white+on+blue.png"
              alt="Ionic logo"
              loading="lazy"
            />
          </div>
        </ion-col>
        <ion-col size-md="9" size="12" class="welcome">
          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button shape="round" color="primary">Sign in</ion-button>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>