#logo{
  align-items: center;
  text-align: center;
}
p{
  align-items: center;
  text-align: center;
}

#remember{
  padding-top: 10%;
  align-items: center;
  text-align: right;
}

#forget{
  padding-top: 10%;
  align-items: center;
  text-align: center;
  font-size: small;
}

.action-button{
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.signup-button{
  margin-top: 10%;
  font-size: smaller;
}
.abtn {
  transition: all 0.3s ease;
  float: right;
}

.abtn.small {
  transform: scale(0.8);
}

.abtn.large {
  transform: scale(1.2);
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 30vh; 
  padding: 20px;
}
img {
  max-width: 100%;
  height: auto;
}
