#logo{
  align-items: center;
  text-align: center;
}
p{
  align-items: center;
  text-align: center;
}

#remember{
  padding-top: 10%;
  align-items: center;
  text-align: right;
}

#forget{
  padding-top: 10%;
  align-items: center;
  text-align: center;
  font-size: small;
}

.action-button{
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.signup-button{
  margin-top: 10%;
  font-size: smaller;
}