<ion-content>
  <ion-searchbar
    [(ngModel)]="busqueda"
    (ionChange)="buscarMedicamentos(busqueda)"
  ></ion-searchbar>
  
  <ion-list *ngIf="sugerencias.length > 0">
    <ion-item *ngFor="let sugerencia of sugerencias" (click)="agregarMedicamentoSeleccionado(sugerencia)">
      {{ sugerencia }}
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item *ngFor="let medicamento of medicamentosSeleccionados">
      {{ medicamento }}
    </ion-item>
  </ion-list>
</ion-content>




<!-- Ejemplo para mostrar lista de medicamentos a traves del json: 
<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <div *ngIf="!loading && jsonData">
    <h2>Lista de Medicamentos</h2>
    <ul>
      <li *ngFor="let record of jsonData.records">
        {{ record[2] }}  '2' es el índice del campo "Nombre Producto" en el registro 
      </li>
    </ul>
  </div>
</ion-content>

-->
